/* contents of page should fill to a max of 1000px

if user is not logged in, hide "Post Your Review" */
/* .spot-details {
    background-color: red;
    padding: 20px;
    color: black;
    height: 20px;
    width: 500px;
}

.detail-image {
    height: 400px;
    width: 400px;
}



/*
Use a large background image of the property as the header.
Use a clean and simple typography for the spot's name, location, and host information.
Use a color scheme that complements the image and adds to the overall aesthetic.
Use a grid layout to display spot information, reviews, and photos.
Use a consistent font and font size throughout the page.
Use rounded corners and subtle drop shadows to add depth and visual interest to the elements.
Use clear and easy-to-use UI components for things like the booking form and adding reviews.
Use animations and transitions to make the page feel more dynamic and engaging.
Use high-quality photos to showcase the property and add to the overall visual appeal. */

.outer-container {
    /* width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #222;
    /* margin: 10px; */
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }

  /* .inner-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
  } */

  .images-container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    max-width: 1000px;
    height: 500px;
    margin-inline: auto;
    /* margin-top: 30px; */
    gap: 10px;
    align-items: center;
  }

  .large-image-container {
    width: 60%;
    height: 100%;
    /* margin-top: 30px; */
    /* position: relative; */
    /* z-index: -1; */
  }

  .small-image-container {
    width: 40%;
    height: 100%;
    /* margin-top: 30px; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
  }

  .large-image-container img,
  .small-image-container img {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* max-height: 500px; */
  }

  .preview-image {
    width: 100%;
    height: 100%;
    max-height: 496px;
    border: 2px solid black;
    /* border-radius: 10px; */
    /* max-height: 100% */
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  }

  .small-images {
    width: calc(50% - 5px);
    height: calc(50% - 5px);
    box-sizing: border-box;
    object-fit: cover;
    border: 2px solid black;
    /* border-radius: 10px; */
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  }

  .spot-image {
    border: 2px solid #222;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 0px;
  }

  .name {
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
  }

  .heading {
    display: flex;
    /* justify-content: space-between; */
    margin-top: -20px;
    font-size: 1.3rem;
    margin-bottom: 8px;
  }

  /* .detail-image {
    width: 100%;
    height: 500px;
    margin-top: 30px;
    object-fit: cover;
  } */
/*
  .upper {
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
  } */



  .button {
    width: 100%;
    height: 50px;
    background-color: #FF385C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .button:hover {
    background-color: #FF385C;
  }

  .review-container {
    margin-top: 20px;
    border: 3px solid black;
    /* border-radius: 10px; */
    padding: 15px;
    font-size: 1.1rem;
    background-color: white;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  }

  .review-question {
    margin-top: 0px;
  }

  .review-input {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .add-review {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    max-width: 240px;
    border: 2px solid black;
    border-radius: 12px;
    /* padding: 3px;
    padding-left: 8px; */
    padding: 5px 10px;
    background-color: #FF385C;
    transition: all 0.3s ease-in-out;
  }

  .add-review:hover {
    background-color: #ff9fb1;
    /* margin-top: 2px; */
  }

  .reviewer-name {
    font-weight: bold;
    /* color: #f8b00c; */
  }

  .new-rev {
    margin-bottom: 8px;
  }

  .review-form {
    /* margin-top: 20px; */
    margin-left: -17px;
    padding: 0px;
  }

  .details-bottom-container {
    display: flex;
    justify-content: space-between;
    width: auto;
    box-sizing: border-box;
    height: auto;
    margin-inline: auto;
    margin-top: 18px;
    padding: 20px 0px;
  }

  .detail-description {
    margin-top: -15px;
  }

  .owner-info {
    flex: 1;
    padding-top: none;
    margin-top: none;
  }

  .host-name {
    margin-top: 0px;
  }

  .reservation-container {
    width: 40%;
    max-width: 370px;
    height: auto;
    border: 3px solid black;
    /* border-radius: 12px; */
    padding: 10px;
    background-color: white;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  }

  .prices-and-stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .total-reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
  }

  .stars {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: -10px;
    /* justify-content: space-between; */
  }

  .detail-edit-button {
    margin-bottom: 8px;
    margin-top: 12px;
  }

  .star-icon {
    font-size: 1.7rem;
  }

  .reserve-button {
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 5px;
    margin: 5px;
    margin-left: -1px;
    background-color: #FF385C;
    border: 2px solid black;
  }

  .reserve-button:hover {
    background-color: #FF5A5F;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
  }

  .review {
    margin-top: 20px;
  }

  .review-user {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .detail-price {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: black; */
    width: 160px;
    height: auto;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  }

  .review-date {
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
  }

  .review-stars {
    margin-bottom: 10px;
  }

  /* .star {
    width: 25px;
  } */

  @media (max-width: 750px) {
    .images-container {
      flex-direction: column;
      height: auto;
    }

    .large-image-container {
      width: 100%;
      height: auto;
    }

    .small-image-container {
      width: 100%;
      height: auto;
      flex-wrap: nowrap;
      overflow: auto;
    }

    .small-images {
      width: 80%;
      height: auto;
    }
  }
