.review-container {
    margin-top: 20px;
    border: 3px solid black;
    padding: 15px;
    font-size: 1.1rem;
    background-color: white;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.review-summary {
    margin-bottom: 5px;
}

.individual-review {
    /* margin: 10px; */
    margin-top: 5px;
}

/* .post-review-button {
    margin: 20px;
} */

/* .review-container .stars {
    margin-top: -15px;
} */

.stars {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    font-weight: bold;
}

.review-stars {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    font-weight: bold;
}

.star-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-right: 3px;
}

.dot {
    margin: 0px 5px 0px 5px;
}

.reviewer-name {
    font-weight: bold;
}

.new-rev {
    margin-bottom: 8px;
}

.detail-edit-button {
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 8px;
}