.bookings-message {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.4rem;
    font-weight: bolder;
}

.bookings-signed-out {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.no-bookings {
    text-align: center;
}

.booking-guest {
    font-weight: bolder;
    margin-bottom: 0px;
}

.host-bookings {
    margin-top: 0px;
}