.host-container {
    width: 80%;
    margin: 0 auto;
    color: #222;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

.create-header {
    margin: 0;
}

.create-form {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.host-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.error-message {
    color: #FF385C;
    font-size: 1.0rem;
    margin-top: 0px;
}

.error-description {
    color: #FF385C;
    font-size: 1.0rem;
    margin-top: 10px;
}

.add-spot-button {
    margin-top: 1.0rem;
}