.manage-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.landing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #222;
}

.spot-card {
    display: inline-block;
    margin: 1rem;
    width: 100%;
    max-width: 20rem;
    cursor: pointer;
}

.location-stars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.location {
    font-weight: bold;
    font-size: 1.1rem;
}

.star {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

.manage-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.2rem;
}

#manage-header .manage-create {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
}

.manage-create-spot a {
    text-decoration: none;
    color: black;
}