.image-modal img {
    display: flex;
    height: auto;
    width: 700px;
    overflow-x: hidden;
    /* margin: auto; */
}

/* .image-modal {
    width: 900px !important;
} */

/* .img-in-modal { */
/* width: 500px !important; */
/* } */