.images-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    height: 550px;
    align-items: center;
}

.small-image-container {
    margin-top: 20px;
    max-width: 740px;
    /* overflow-x: hidden; */
}

.small-images {
    max-width: 600px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.img-carousel:hover {
    background: none;
}

.slick-prev,
.slick-next {
    box-shadow: 0px 0px 0px 0px;
}

.slick-arrow {
    margin-left: -10px;
    margin-right: -10px;
    /* margin: auto; */
    /* z-index: 1; */
}

.slick-prev:before,
.slick-next:before {
    color: black;
    background-color: white !important;
    border-radius: 50%;
    opacity: 1;
}

.slick-slide {
    display: flex !important;
    justify-content: center;
}

@media screen and (min-width: 1070px) {
    .slick-arrow {
        /* margin-left: 90px;
        margin-right: 90px; */
    }

    .small-image-container {
        max-width: 850px;
    }

    .small-images {
        max-width: 690px;
    }
}

@media screen and (max-width: 840px) {
    .slick-arrow {
        margin-left: 280px;
        margin-right: 280px;
        margin-top: 200px;
    }

    .images-container {
        height: 450px;
    }

    .small-image-container {
        max-width: 650px;
        /* overflow-x: hidden; */
    }

    .small-images {
        max-width: 500px;
    }
}

/* @media screen and (min-width: 540px) and (max-width: 670px) {
    .images-container {
        max-width: 350px;
    }

    .small-images {
        max-width: 350px;
    }
} */

@media screen and (max-width: 670px) {
    .slick-arrow {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 140px;
    }

    .images-container {
        height: 270px;
        margin-bottom: 40px;
    }

    .small-image-container {
        max-width: 430px;
        /* overflow-x: hidden; */
    }

    .small-images {
        max-width: 300px;
    }
}