.images-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    height: 470px;
    align-items: center;
    margin-bottom: 10px;
    /* margin-top: 30px; */
    /* margin: auto; */
}

.small-image-container {
    /* margin-top: 20px; */
    max-width: 740px;
}

.small-images {
    max-width: 600px;
    max-height: 460px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.img-carousel:hover {
    background: none;
}

.slick-prev,
.slick-next {
    box-shadow: 0px 0px 0px 0px;
}

.slick-arrow {
    margin-left: -10px;
    margin-right: -10px;
    /* z-index: 1; */
}

.slick-prev:before,
.slick-next:before {
    color: black;
    background-color: white !important;
    border-radius: 50%;
    opacity: 1;
}

.slick-slide {
    display: flex !important;
    justify-content: center;
}

@media screen and (min-width: 1070px) {
    .images-container {
        margin-top: 30px;
    }

    .small-image-container {
        max-width: 850px;
    }

    .small-images {
        max-width: 690px;
        /* max-height: 455px; */
    }
}

@media screen and (max-width: 840px) {
    .slick-arrow {
        margin-left: 280px;
        margin-right: 280px;
        margin-top: 210px;
    }

    .images-container {
        height: 420px;
    }

    .small-image-container {
        max-width: 650px;
    }

    .small-images {
        max-width: 500px;
        max-height: 380px;
    }
}

@media screen and (max-width: 670px) {
    .slick-arrow {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 140px;
    }

    .images-container {
        height: 300px;
        overflow-x: hidden;
    }

    .small-image-container {
        max-width: 420px;
        /* overflow: hidden; */
    }

    .small-images {
        max-width: 300px;
        max-height: 230px;
    }
}