#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  padding: 0px 19.5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 30px;
  height: 70px;
  width: 80%;
  max-width: 955px;
  border: 3px solid black;
  position: relative;
  margin: 40px auto;

  /* unnecessary */
  /* z-index: 1; */
  /* border-radius: 5px; */
  /* margin-bottom: 15px; */
  /* box-sizing: border-box; */
}

.create-spot-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -15px;
}

.top-right {
  display: flex;
  justify-content: flex-end;
}

NavLink {
  color: black;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

/* .log-out {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  background: #FF385C;
  border-radius: 15px;
  padding: 5px 10px;
  border: 2px solid black;
} */

.logo {
  /* display */
  align-self: flex-start;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  /* background-color: #222; */
  /* padding-left: 5px; */
  /* border: 1px solid black; */
  /* box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1); */
}

.create-spot {
  background-color: #FF385C;
  color: #222;
  padding: 6px 8px 9px 8px;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.create-spot:hover {
  background-color: #FFE5B4;
  border-radius: 15px;
}

@media screen and (max-width: 580px) {
  .create-spot-container {
    display: none;
  }
}

/* @media (max-width: 580px) {
  #nav-container {
    width: 100%;
    padding: 0px 10px;
  }
} */
