.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  padding: 0px 19.5px;
  line-height: 30px;
  height: 70px;
  width: 80%;
  max-width: 955px;
  border: 3px solid black;
  position: relative;
  margin: 40px auto;
  margin-bottom: 30px;
}

.create-spot-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -15px;
}

NavLink {
  color: black;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.logo {
  align-self: flex-start;
  /* width: 150px; */
  /* width: 63px; */
  background-color: white;
  color: white;
  height: 60px;
  margin-top: 10px;
}

.create-spot {
  background-color: #FF385C;
  color: #222;
  padding: 6px 8px 9px 8px;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.create-spot:hover {
  background-color: #FFE5B4;
  border-radius: 15px;
}

/* @media screen and (max-width: 580px) {
  .create-spot-container {
    display: none;
  }
} */

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-bar {
  margin: 0px;
  position: sticky;
  top: 0;
  /* z-index: 2; */
}

.search-bar:focus {
  /* border-radius: 0px; */
}

.search-suggestions {
  z-index: 1;
  border: 1px solid black;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  display: none;
}

.search-bar:focus+.search-suggestions {
  display: block;
}

.search-suggestion {
  padding: 8px;
  background-color: white;
  border-top: 1px solid black;
}

.search-suggestion {
  cursor: pointer;
}