.fas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.fa-user-circle {
    font-size: 2.0rem;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
}

.profile-dropdown {
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 0px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    z-index: 1;
    padding: 15px;
}

.pfp {
    /* margin: 0px; */
    background-color: #ff8488;
}

.pfp:hover {
    border-radius: 0px;
}

/* .manage-favorites {
    margin-bottom: 10px;
} */

.hidden {
    display: none;
}