.log-in-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.form-label {
  display: block;
  margin-bottom: 3px;
}

.demo-user {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-button-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}